/* dispositifs */
.dispositifs {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 42vw;
    margin-top: 109px;
    cursor: pointer;
}
@media screen and (max-device-width: 814px)  {
    .dispositifs {
        padding: 0 30vw;
        margin-top: 10%;
    }
}

.dispositifs .selected .unselected {
    display: flex;
    flex-direction: column;
    
}
.dispositifs p{
    margin-top: 2rem;
}
#button-mobile  a {
    background-image: url(../images/mobile-bleu.png);
    display: block;
    width: 53px;
    height: 93px;

}
#button-mobile  a:hover,
#button-mobile  a:focus
 {
    background-image: url(../images/mobile-gris.png);
}
#button-autres  a {
    background-image: url(../images/autres-bleu.png);
    display: block;
    width: 46px;
    height: 90px;

}
#button-autres  a:hover,
#button-autres  a:focus
 {
    background-image: url(../images/autres-gris.png);
}

.dispositifs #button-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dispositifs #button-autres {
    display: flex;
    align-items: center;
    flex-direction: column;
}