* {  box-sizing: border-box; }
/* General */
body {
    margin: 0px 0;

}
p {
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  1,1rem;
}

/* Header*/

header {
    background-color: #FBFBFB;
    margin-top:1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 3%;
}
.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    color: #58595A;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box-container {
    width: 40%;
    background: #fcfcfc;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1%;
}
 
#search-box-container #search-data,
#search-box-container #display-button {
    background: none;
    border: none;
    border-radius: 0;
    flex-grow: 3;
}
#search-box-container #search-data{
    padding-left: 30px;
}
#search-box-container #display-button {
    color: #999;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 3% 
}
 
#search-box-container #display-button:hover,
#search-box-container #display-button:focus {
    background: none;
    border: none;
    color: #666;
}
.centre h1 {
    text-align: center;
    width: 80%;
}
@media screen and (max-device-width: 814px)  {
    header {
        height: 40%;
    }
    #search-box-container {
        width: 80%;
        height: 30%;
    }
    #search-box-container #search-data,
    #search-box-container #display-button {
        font-size: 1.3rem;
}
}
#search-result-container{
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  1.4rem;
    margin-top: 2%;
}
.search-result a{

    color:#86E0E4;

}
.search-result :hover,
.search-result :focus
{
    color: #58595A;
    text-decoration: underline;

}
/* Breadcrumbs*/

#breadcrumbs {
    margin-left: 20%;
    margin-top: 5vh;
    display: flex;
}

#breadcrumbs ol {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    list-style: none;
    padding: 0;
}
#breadcrumbs ol li {
    margin: 2px;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  0.8rem;
}
#breadcrumbs a {
    text-decoration: none;
    color: #999;
}
#breadcrumbs :hover,
#breadcrumbs :focus {
    color: #86E0E4;
}
@media screen and (max-device-width: 814px)  {
    #breadcrumbs {
        margin-top: 2vh;
    }

}/*Contact*/
.contact {
    display: flex;
    justify-content: space-between;
    width: 51%;
    margin: 5.6rem auto;
    padding: 50px;
    border: solid #D8D8D8 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.contact .texte {
    display: flex;
    flex-direction: column;

}
.contact h1 {
    justify-content: flex-start;
    align-items: flex-start;
}
.contact p {
    margin-top: 0.5rem;
}
.contact input {
    border: solid #86E0E4 2px;
    background-color: #86E0E4;
    color: white;
    font-size: 1.2rem;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 100%;


}
.contact input:hover,
.contact input:focus {
    border: solid #F5F5F5 2px;
    background-color: #F5F5F5;
    color: #58595A;
}
@media screen and (max-device-width: 814px)  {
    .contact {
        display: flex;
        justify-content: space-between;
        width: 88%;
        margin: 10% auto;
        padding: 50px;
        border: solid #D8D8D8 2px;
        box-sizing: border-box;
        flex-direction: column;
        text-align: center;
    }
    .contact input {
        margin-top: 2vh;
        width: 100%;
        height: 5%;
    }
    .contact h1 {
        justify-content: center;
        align-items: center;
    }
}