/* Themes*/
#themes {
    margin-top: 1rem;
}
#text-themes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5.6rem;
}
#text-themes p{
    margin-top: 1rem;
}
#every-themes{
    padding: 0;
    margin: 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
#background-grey {
    margin-top: 4.5rem;
    background-color: #F5F5F5;
    padding: 5%;
    width: 28%;
    font-weight: bold;
    text-align: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#background-grey a {
    font-size: 1.25rem;
    text-decoration: none;
}
#background-grey p {
    margin-top: 1rem;
    color: #58595A;
}
#background-grey p:hover,
#background-grey p:focus{
    text-decoration: underline;
    color: #86E0E4;
}
#background-grey .fas {
    color: #58595A;
}
#background-grey .fas:hover,
#background-grey .fas:focus{
    color: #86E0E4;
}
.Xendera a{
    text-decoration: none;
}
@media screen and (max-device-width: 814px)  {
    #themes{
        margin-top:10%;
    }
    #background-grey{
        width: 88%;
        height: 29%;
        margin-top: 10%;
    }
    #text-themes {
        text-align: center;
    }
}