/* Plate-formes*/
.both-plateforme #plateformes{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 40vw;
    margin-top: 5.45rem;
    cursor: pointer;
}
.both-plateforme #plateformes .selected .unselected { 
    display: flex;
    flex-direction: column;
    
}
.both-plateforme #plateformes p{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.both-plateforme #plateformes #button-ios p{
    margin-top: 2rem;

}
.both-plateforme #plateformes #button-android {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.both-plateforme #plateformes #button-android-gris {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.both-plateforme #plateformes #button-ios {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.both-plateforme #plateformes #button-ios-gris {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#text-plateforme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.6rem;
}
#text-plateforme p{
    margin-top: 1rem;
    text-align: center;
}
#button-android  a {
    background-image: url(../images/android-bleu.png);
    display: block;
    width: 80px;
    height: 93px;

}
#button-android-gris  a {
    background-image: url(../images/android-gris.png);
    display: block;
    width: 80px;
    height: 93px;

}
#button-android  a:hover,
#button-android  a:focus
 {
    background-image: url(../images/android-gris.png);
}
#button-ios  a {
    background-image: url(../images/ios-bleu.png);
    display: block;
    width: 125px;
    height: 80px;

}
#button-ios-gris  a {
    background-image: url(../images/ios-gris.png);
    display: block;
    width: 125px;
    height: 80px;

}
#button-ios  a:hover,
#button-ios  a:focus
 {
    background-image: url(../images/ios-gris.png);
}

@media screen and (max-device-width: 814px)  {
    .both-plateforme #plateformes{
        padding: 0 20vw;
        margin-top: 11%; 
    }
    #text-themes {
        text-align: center;
    }
}