* {  box-sizing: border-box; }
/* General */
body {
    margin: 0px 0;

}
p {
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  1,1rem;
}

/* Header*/

#header {
    background-color: #FBFBFB;
    margin-top:1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 3%;
}
.centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    color: #58595A;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box-container {
    width: 40%;
    background: #fcfcfc;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1%;
}
 
#search-box-container #search-data,
#search-box-container #display-button {
    background: none;
    border: none;
    border-radius: 0;
    flex-grow: 3;
}
#search-box-container #search-data{
    padding-left: 30px;
}
#search-box-container #display-button {
    color: #999;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 3% 
}
 
#search-box-container #display-button:hover,
#search-box-container #display-button:focus {
    background: none;
    border: none;
    color: #666;
}
.centre h1 {
    text-align: center;
    width: 80%;
}
@media screen and (max-device-width: 814px)  {
    header {
        height: 40%;
    }
    #search-box-container {
        width: 80%;
        height: 30%;
    }
    #search-box-container #search-data,
    #search-box-container #display-button {
        font-size: 1.3rem;
}
}
#search-result-container{
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  1.4rem;
    margin-top: 2%;
}
.search-result a{

    color:#86E0E4;

}
.search-result :hover,
.search-result :focus
{
    color: #58595A;
    text-decoration: underline;

}
/* Breadcrumbs*/

#breadcrumbs {
    margin-left: 20%;
    margin-top: 5vh;
    display: flex;
}

#breadcrumbs ol {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    list-style: none;
    padding: 0;
}
#breadcrumbs ol li {
    margin: 2px;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  0.8rem;
}
#breadcrumbs a {
    text-decoration: none;
    color: #999;
}
#breadcrumbs :hover,
#breadcrumbs :focus {
    color: #86E0E4;
}
@media screen and (max-device-width: 814px)  {
    #breadcrumbs {
        margin-top: 2vh;
    }

}
/* All Questions and Title*/

main {
    display: flex;
    flex-direction:  column;
    align-items:  center;

}
/* Button Close */

.collapsible {
    color: #58595A;
    cursor: pointer;
    padding: 18px;
    width: 51%;
    border: #D8D8D8 solid 2px;
    text-align: left;
    margin: 1.1rem;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    font-size: 1rem;
    height: 12%;
    min-height: 12%;
}
@media screen and (max-device-width: 814px)  {
    .collapsible {
        min-height: 15%;
        width: 88%;
        background-color: white;
    }
}
/* Button Open */

.ouvert, .collapsible:hover,
.collapsible:focus {
    color: #86E0E4;
    border: 2px solid #86E0E4;
}

.collapsible:after {
    content: '\002B';
    color: #58595A;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ouvert:after {
    content: "\2212";
    
}
/* Content questions */
.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 51%;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    font-size:  0.85rem;
    color: #58595A;
    line-height: 14px;
}
.content p{
    padding:20px 0;
    line-height: 114%;

}
.image-app {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2%;
    max-height: 481px;

}
.image-app img{
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image-app p{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    color: #58595A;
    font-size:  14px;
}
@media screen and (max-device-width: 814px)  {
    .content {
        width: 88%;
    }
    .image-app {
        margin-right: 4%;
    }
}

/*Button Close */

.btn-rules {
    color: #58595A;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: #D8D8D8 solid 2px;
    text-align: left;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    font-size: 1rem;
    height: 12%;
    min-height: 12%;
    margin-top: 1.1rem;
}
@media screen and (max-device-width: 814px)  {
    .btn-rules {
        background-color: white;
    }
}
/* Button Open */

.open, .btn-rules:hover,
.btn-rules:focus {
    color: #86E0E4;
    border: 2px solid #86E0E4;
}

.btn-rules:after {
    content: '\002B';
    color: #58595A;
    font-weight: 700;
    float: right;
    margin-left: 5px;
}

.open:after {
    content: "\2212";
    
}
/* Content rules title */
.content-regular {
    margin-bottom: 1.5rem;
    line-height: 114%;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    font-size:  0.85rem;
    margin-top: 1.5rem;

}
.content-regular-title {
    font-weight: 700;
    font-size: 1rem; 
}
.content-daily {
    margin-bottom: 1.5rem;
    line-height: 114%;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    font-size:  0.85rem;

}
.content-daily-title {
    font-weight: 700;
    font-size: 1rem; 
}
/* Content questions */
.contentrules {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
}
.contentrules p{
    padding:20px 0;
    line-height: 114%;
}
/* Table */
table {
    width: 100%;
}
.content table{
    border: 1px solid #86E0E4;
    font-size: 0.8rem;
    color: #58595A;

}
.content table th, td{
    text-align: left;
    height: 50px;
    vertical-align: middle;
    padding: 2%;
}
.content table, th  {
    font-size: 0.8rem;
    color: #58595A;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
}
.contentrules table, th, td  {
    border: 1px solid #86E0EF;
    font-size: 0.8rem;
    color: #58595A;

}
.contentrules table {
    border: 1px solid black;
    font-size: 0.8rem;
    color: #58595A;

}

.contentrules table, th  {
    font-size: 0.8rem;
    color: #58595A;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
}
.contentrules table, td  {
    font-size: 0.8rem;
    color: #58595A;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 400;
    line-height: 2rem;;
}
/*Faq*/
.title-themes {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*Contact*/
.contact {
    display: flex;
    justify-content: space-between;
    width: 51%;
    margin: 5.6rem auto;
    padding: 50px;
    border: solid #D8D8D8 2px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.contact .texte {
    display: flex;
    flex-direction: column;

}
.contact h1 {
    justify-content: flex-start;
    align-items: flex-start;
}
.contact p {
    margin-top: 0.5rem;
}
.contact input {
    border: solid #86E0E4 2px;
    background-color: #86E0E4;
    color: white;
    font-size: 1.2rem;
    font-family: 'PT SANS', 'sans-serif';
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    height: 100%;


}
.contact input:hover,
.contact input:focus {
    border: solid #F5F5F5 2px;
    background-color: #F5F5F5;
    color: #58595A;
}
@media screen and (max-device-width: 814px)  {
    .contact {
        display: flex;
        justify-content: space-between;
        width: 88%;
        margin: 10% auto;
        padding: 50px;
        border: solid #D8D8D8 2px;
        box-sizing: border-box;
        flex-direction: column;
        text-align: center;
    }
    .contact input {
        margin-top: 2vh;
        width: 100%;
        height: 5%;
    }
    .contact h1 {
        justify-content: center;
        align-items: center;
    }
}